body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(247, 238, 221)

}

h1{
    background-color: lightgray;
    padding: 5px;
    margin: 5px; margin-right:none
    
    font-size:10px;
    color: rgb(46, 46, 46);
    border: 0.1cm,solid,gray;
    
;}
    
